# Vim
*.swp

# Latoex files
*.pdf
*.aux
*.bib
*.bbl
*.blg
*.ent
*.log
*.run.xml
*.synctex.gz

# Object files
cdf
tags
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.pyc
*__pycache__

# Log files
log.txt
